@model MobileRecharge.Models.RechargePlans

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RechargePlans</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataBenfits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataBenfits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CallBenifits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CallBenifits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherBenifits)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherBenifits)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Validity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Validity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanType)
        </dd>
    </dl>
</div>
<div>
    @using (Html.BeginForm("Create"))
    {
        <input type="submit" class="button" id="@Model.Id"/>
    }
    <a asp-action="Index">Back to List</a>
</div>
